.jumbotron {
  background: url("../images/lakesky.jpeg");
  /* background-repeat: no-repeat;
  background-position: center center; */

  background-size: 100% 100%;
  height: 600px;
}

.logo {
  height: 75px;
  width: 75px;
}

/* set text color */
.featured {
  color: white;
  /* text-shadow: 2px 2px black; */
}

/* create space between title and logo */

.featured h1 {
  padding-top: 60px;
}

.featured .btn-secondary {
  font-weight: bold;
  background-color: rgba(145, 82, 58, 0.5);
  text-shadow: none;
  border-radius: 10px;
  margin-top: 20px;
  width: 170px;
  margin-right: 15px;
}

/* on hover background color remains the same except transparency property is removed */
.featured .btn-secondary:hover {
  background-color: rgb(145, 82, 58);
}

.trial {
  text-align: center;
  padding: 20px 0 40px;
  color: black;
}

.trial img {
  width: 200px;
  height: 70px;
  margin: 20px;
}
/* style for devices between 480 and 768 px */
.footer {
  background-color: #eee;
  font-size: 15px;
  padding: 10px 0;
}
@media (min-width: 480px) and (max-width: 768px) {
  .jumbotron {
    height: 410px;
    margin: 0;
  }
  .logo {
    width: 50px;
    height: 50px;
  }

  .featured h1 {
    padding-top: 30px;
  }

  .featured p {
    font-size: 17px;
  }
  .featured {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .jumbotron {
    height: 410px;
    margin: 0;
  }
  .logo {
    width: 30px;
    height: 30px;
  }

  .featured h1 {
    padding-top: 10px;
  }

  .featured p,
  .featured a {
    font-size: 13px;
  }

  .featured {
    text-align: center;
  }

  .trial img {
    width: 100px;
    height: 35;
    margin: 10px;
  }
}
